.divStyle {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: 400px;
  color: white;
  font-size: 2rem;
  font-weight: bold;
}

.spanStyle {
  background: rgba(154, 154, 154, 0.5);
  padding: 10px 20px;
  border-radius: 8px;
}
